 <a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/kpwal4mklabkeipypfo47rrm8xq0lslk.jpg" width = 300, align = "center"></a>

<h1 align=center><font size = 5>Sets and Dictionaries</font></h1>


## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">About the Dataset</a></li>
<li><a href="#ref1">Sets</a></li>
<li><a href="#ref2">Dictionaries</a></li>
<br>
<p></p>
Estimated Time Needed: <strong>20 min</strong>
</div>

<hr>

<a id="ref0"></a>
<center><h2>About the Dataset</h2></center>

Imagine you got many album recommendations from your friends and compiled all of the recommendations in a table, with specific info about each album.

The table has one row for each album and several columns

- **artist** - Name of the artist
- **album** - Name of the album
- **released_year** - Year the album was released
- **length_min_sec** - Length of the album (hours,minutes,seconds)
- **genre** - Genre of the album
- **music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Date on which the album was released
- **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
- **rating_of_friends** - Indicates the rating from your friends from 1 to 10
<br>
<br>

The dataset can be seen below:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<a id="ref1"></a>
<center><h2>Sets</h2></center>

In this lab, we're gonna take a look at sets in Python. A set is a unique sequenced collection of objects in Python. You can  denote a set with a curly bracket “{}”.Python will remove duplicate items:

In [1]:
{"pop", "rock", "soul", "hard rock", "rock", "R&B", "rock", "disco"}

{'R&B', 'disco', 'hard rock', 'pop', 'rock', 'soul'}

The process of mapping is illustrated in figure 1:

<a ><img src = "https://ibm.box.com/shared/static/qk4m2ebiv726wlgh47xh8c17b0qcyt6r.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 1: Mapping a Set so it does not have any duplicate items 


  </h4>

 You can also  create a set from a list as follows"

In [2]:
album_list = ["Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]

album_set = set(album_list)             
album_set

{None,
 10.0,
 46.0,
 65,
 1982,
 '00:42:19',
 '30-Nov-82',
 'Michael Jackson',
 'Pop, Rock, R&B',
 'Thriller'}

Now let's create a set of the genres:

In [3]:
music_genres = set(["pop", "pop", "rock", "folk rock", "hard rock", "soul", \
                    "progressive rock", "soft rock", "R&B", "disco"])
music_genres

{'R&B',
 'disco',
 'folk rock',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul'}

#### 1) convert the following list to a set ['rap','house','electronic music','rap']

In [4]:
set(['rap','house','electronic music','rap'])

{'electronic music', 'house', 'rap'}

  <div align="right">
<a href="#q10" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q10" class="collapse">
```
set(['rap','house','electronic music','rap'])
```
</div>

Notice that the duplicates are removed and the output is sorted.

Let's find out the average sales of the recording sales:

Let's get the sum of the claimed sales:

#### 2) Consider the list A=[1,2,2,1] and set B=set([1,2,2,1]), does sum(A)=sum(B)

In [5]:
A=[1,2,2,1]  
B=set([1,2,2,1])
print("the sum of A is:",sum(A))
print("the sum of B is:",sum(B))

('the sum of A is:', 6)
('the sum of B is:', 3)

 <div align="right">
<a href="#2" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="2" class="collapse">
```
No when casting a list to a set the new set has no repeat elements. Run the following code to verify:
A=[1,2,2,1]  
B=set([1,2,2,1])
print("the sum of A is:",sum(A))
print("the sum of B is:",sum(B))
```
</div>

Now let's determine the average rating:

### Working with sets

Remember that with sets you can check the difference between sets, as well as the symmetric difference, intersection and union:

In [6]:
album_set1 = set(["Thriller","Back in Black", "AC/DC"] )
album_set2 = set([ "AC/DC","Back in Black", "The Dark Side of the Moon"] )

 <a ><img src = "https://ibm.box.com/shared/static/bl6ijga6g8r7bdfkl17qw7zh62czte47.png" width = 850, align = "center"></a>
  <h4 align=center> Figure 2: Visualizing the sets as two circles 
 
  </h4>

In [7]:
album_set1, album_set2

({'AC/DC', 'Back in Black', 'Thriller'},
 {'AC/DC', 'Back in Black', 'The Dark Side of the Moon'})

 As both sets contain 'AC/DC' and 'Back in Black' we represent these common elements with the intersection of two circles.

 <a ><img src = "https://ibm.box.com/shared/static/7ttuf8otui4s6axm23csmb4s3pxz16y2.png" width = 650, align = "center"></a>
  <h4 align=center> Figure 3: Visualizing common elements with the intersection of two circles.
 
  </h4>

We can find all the elments that are in “album_set1”  that are not in  “album_set2” by by applying "difference" mehtod  as follows:

In [8]:
album_set1.difference(album_set2)

{'Thriller'}

We only consider elements in “album_set1” all the elements in “album_set2” including the intersection are not included.

 <a ><img src = "https://ibm.box.com/shared/static/osmxw1qnb5t9odon2cx94wxhfzlkn1n8.png" width = 650, align = "center"></a>
  <h4 align=center> Figure 4: The difference of “album_set1” and   “album_set2
 
  </h4>

Difference between album_set2 and album_set1

In [9]:
album_set2.difference(album_set1)

{'The Dark Side of the Moon'}

<a ><img src = "https://ibm.box.com/shared/static/klgc09bgpsjudr9v3wtl8yk9s2lya3hl.png" width = 650, align = "center"></a>
  <h4 align=center> Figure 5: The difference of “album_set2” and   “album_set1
 
  </h4>

We can find the elements that are in both sets i.e in both “album_list2” and “album_list1” as follows using the intersection command :

In [10]:
album_set1.intersection(album_set2)

{'AC/DC', 'Back in Black'}

 The corresponds the intersection of the two circles :

 <a ><img src = "https://ibm.box.com/shared/static/s2xfytq43twp6jsvbvr4o2fir7wdablo.png" width = 650, align = "center"></a>
  <h4 align=center> Figure 6:  intersection of set
 
  </h4>

In [11]:
album_set1.union(album_set2)

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

 The union corresponds to all the elements in both sets, this is represented by coloring  both circles

 <a ><img src = "https://ibm.box.com/shared/static/vkczce5jh50g0oh53xn0ilgriflcrog0.png" width = 650, align = "center"></a>
  <h4 align=center> Figure 7:  union of set
 
  </h4>

And you can check if a set if a superset or subset of another set, respectively, like this:

In [13]:
album_set1.issuperset(album_set2)

False

In [14]:
album_set2.issubset(album_set1)

False

#### 3) Create a new set “album_set3” that is the union of “album_set1” and “album_set2”

In [19]:
album_set3 = album_set1.union(album_set2)
album_set3

{'AC/DC', 'Back in Black', 'The Dark Side of the Moon', 'Thriller'}

<div align="right">
<a href="#4" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="4" class="collapse">
```
album_set3=album_set1.union(album_set2)
album_set3
```
</div>

#### 4) Fin out of  "album_set1" a subset of "album_set3"

In [20]:
album_set1.issubset(album_set3)

True

 <div align="right">
<a href="#5" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="5" class="collapse">
```
album_set1.issubset(album_set3)  

```
</div>

There's a lot more you can do with sets. Practice on your own by adding cells and writing your own code.

<a id="ref7"></a>
<h2 align=center> Dictionaries  in Python  </h2>

 A dictionary consists of keys and values. It is helpful to compare a Dictionary to a List. Instead of the numerical indexes like a list, dictionarys have keys. These keys are labels that are used to access values within a dictionary.

<a ><img src = "https://ibm.box.com/shared/static/6tyznuwydogmtuv73o8l5g7xsb8o92h2.png" width = 650, align = "center"></a>
  <h4 align=center> Figure 8: A  Compare a Dictionary to a list. Instead of the numerical indexes like a list, dictionarys have keys.
 
  </h4>

 Each key is separated from its value by a colon (`:`). The items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: {}.

In [21]:
release_year_dict = {"Thriller":"1982", "Back in Black":"1980", \
                    "The Dark Side of the Moon":"1973", "The Bodyguard":"1992", \
                    "Bat Out of Hell":"1977", "Their Greatest Hits (1971-1975)":"1976", \
                    "Saturday Night Fever":"1977", "Rumours":"1977"}
release_year_dict

{'Back in Black': '1980',
 'Bat Out of Hell': '1977',
 'Rumours': '1977',
 'Saturday Night Fever': '1977',
 'The Bodyguard': '1992',
 'The Dark Side of the Moon': '1973',
 'Their Greatest Hits (1971-1975)': '1976',
 'Thriller': '1982'}

What we just did was create a dictionary in Python. Like a list, a dictionary holds a sequence of elements. Each element is represented by a key and its corresponding value. Dictionaries are created with two curly braces containing keys and values separated by a colon. For every key, there can only be a single value. Multiple keys however can hold the same value. Keys can only be strings, numbers, or tuples, but values can be any data type.

 It is helpful to visualize the dictionary as a table, as in figure 9. The first column represents the keys, the second column represents the values.

 <a ><img src = "https://ibm.box.com/shared/static/i45fppou18c3t0fuf2ikks48tod7chbl.png" width = 650, align = "center"></a>
  <h4 align=center> Figure 9: Table representing a Dictionary  

  </h4>

#### 5) In the dictionary "soundtrack_dict" what are the keys ?

In [23]:
release_year_dict.keys()

['Their Greatest Hits (1971-1975)',
 'The Bodyguard',
 'Bat Out of Hell',
 'Back in Black',
 'Saturday Night Fever',
 'The Dark Side of the Moon',
 'Thriller',
 'Rumours']

 <div align="right">
<a href="#Dict1" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="Dict1" class="collapse">
```
The Keys "The Bodyguard" and "Saturday Night Fever" 
```
</div>

#### 6) In the dictionary "soundtrack_dict" what are the values ?

 <div align="right">
<a href="#Dict2" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="Dict2" class="collapse">
```
The values are "soundtrack" and "soundtrack"
```
</div>

Now, you can retrieve the values based on the names:

In [24]:
release_year_dict['Thriller']

'1982'

This corresponds to the value thriller as shown in figure 10

 <a ><img src = "https://ibm.box.com/shared/static/glbwz23cgjjxqi7rjxn7me5i16gan7h7.png" width = 500, align = "center"></a>
  <h4 align=center> 
figure 10 : Table used to represent accessing the value for "Thriller"   

  </h4>

Similarly for The Bodyguard

In [25]:
release_year_dict['The Bodyguard']

'1992'

 <a ><img src = "https://ibm.box.com/shared/static/6t7bu8jusckaskukwq1k0a3im5ltcpsn.png  " width = 500, align = "center"></a>
  <h4 align=center> 
figure 11 : Accessing the value for the 'The Bodyguard'

  </h4>

Now let us retrieve the keys of the dictionary release_year_dict.

In [26]:
release_year_dict.keys()

['Their Greatest Hits (1971-1975)',
 'The Bodyguard',
 'Bat Out of Hell',
 'Back in Black',
 'Saturday Night Fever',
 'The Dark Side of the Moon',
 'Thriller',
 'Rumours']

 And you can retrieve the values using **`values()`**

In [27]:
release_year_dict.values()

['1976', '1992', '1977', '1980', '1977', '1973', '1982', '1977']

#### 7) The Albums 'Back in Black', 'The Bodyguard' and 'Thriller' have the following Music recording sales in millions 50,50 and 65 respectively

##### a) Create a dictionary “album_sales_dict” where the keys are the album name and the sales in millions are the values

In [29]:
album_sales_dict= { "The Bodyguard":50, "Back in Black":50,"Thriller":65}
album_sales_dict

{'Back in Black': 50, 'The Bodyguard': 50, 'Thriller': 65}

<div align="right">
<a href="#q9" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q9" class="collapse">
```
album_sales_dict= { "The Bodyguard":50, "Back in Black":50,"Thriller":65}
```
</div>

#### b) Use the dictionary to find the total sales of "Thriller"

In [30]:
album_sales_dict["Thriller"]

65

<div align="right">
<a href="#q10b" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q10b" class="collapse">
```
album_sales_dict["Thriller"]
```
</div>

#### c) Find the names of the album from the dictionary using the method "keys"

In [31]:
album_sales_dict.keys()

['The Bodyguard', 'Thriller', 'Back in Black']

<div align="right">
<a href="#q10c" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q10c" class="collapse">
```
album_sales_dict.keys()
```

#### d) Find the names of the recording sales​ from the dictionary using the method "values"

In [32]:
album_sales_dict.values()

[50, 65, 50]

<div align="right">
<a href="#q10d" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="q10d" class="collapse">
```
album_sales_dict.values()
```
</div>

### About the Authors:  

This notebook was updated by  [Joseph Santarcangelo]( https://www.linkedin.com/in/joseph-s-50398b136/)


Hi! It's  [Agatha Colangelo](https://www.linkedin.com/in/agathacolangelo) and [Hima Vasudevan](https://www.linkedin.com/in/himavasudevan7920) and [Thiago Felipe Correa Borges](https://www.linkedin.com/in/thiago-felipe-corr%C3%AAa-borges-a932bb114?trk=nav_responsive_tab_profile), the authors of this notebook. We hope you found Python easy to learn! There's lots more to learn about Python but you're well on your way. Feel free to connect with us if you have any questions.

<hr>
Copyright &copy; 2016 [Big Data University](https://bigdatauniversity.com/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).​