<a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/kpwal4mklabkeipypfo47rrm8xq0lslk.jpg
" width = 300, align = "center"></a>

<h1 align=center><font size = 5>DATA FRAMES IN PYTHON</font></h1>


## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">About the Dataset</a></li>
<li><a href="#ref3">Data Frames</a></li>
<br>
<p></p>
Estimated Time Needed: <strong>15 min</strong>
</div>

<hr>

<a id="ref0"></a>
<center><h2>About the Dataset</h2></center>

Imagine you got many album recommendations from your friends and compiled all of the recommendations in a table, with specific info about each album.

The table has one row for each album and several columns

- **artist** - Name of the artist
- **album** - Name of the album
- **released_year** - Year the album was released
- **length_min_sec** - Length of the album (hours,minutes,seconds)
- **genre** - Genre of the album
- **music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Date on which the album was released
- **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
- **rating_of_friends** - Indicates the rating from your friends from 1 to 10
<br>
<br>

The dataset can be seen below:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<a id="ref3"></a>
<center><h2>Data Frames</h2></center>

A Data frame is a structure that is used for storing data tables. Underneath it all, a data frame is a list of arrays of the same length, exactly like a table (each array is a column). We call a pandas function called **DataFrame** to create a data frame and pass array information, which are our columns, as arguments. It is required to name the columns that will compose the data frame.

 First we must import the pandas library

In [ ]:
import pandas as pd

We would like to create  a date frame in the following form:

 <a ><img src = https://ibm.box.com/shared/static/486idtdd4oxa8laltxk7gbn8l2vp2hq3.png width = 700, align = "center"></a>
  <h4 align=center> Figure 1:An example of a DataFrame
  </h4>

In [ ]:

songs = {'Album' : ['Thriller','Back in Black', 'The Dark Side of the Moon',\
                    'The Bodyguard','Bat Out of Hell'],
         'Released' : [1982,1980,1973,1992,1977],
         'Length' : ['00:42:19','00:42:11' ,'00:42:49','00:57:44','00:46:33']}
songs_frame = pd.DataFrame(songs)

Let's print the content of our recently created data frame:

In [ ]:
songs_frame

It's very easy! You can note how it looks like a table.
Now let us access a column of the dataframe named 'Album'.

In [ ]:
songs_frame['Album']

Corresponding column is Highlighted in Figure 2:

 <a ><img src = https://ibm.box.com/shared/static/03ifetpnpiza7vn0gyf2qtvsdbgwrvxf.png width = 700, align = "center"></a>
  <h4 align=center> Figure 2: An example of a DataFrame with the column 'Album' indicted in yellow.  

  </h4>

We can retrieve the second column as well:

 
<a ><img src = https://ibm.box.com/shared/static/judo6tn30dd9w61bmit5vn600ln2hzwq.png​ width = 700, align = "center"></a>
  <h4 align=center> Figure 3: An example of a DataFrame with the colunm 'Released' indicted in yellow.  
  </h4>

You can retrieve the column “ Released ” in multiple ways:

In [ ]:
# This returns the first (1st) column
songs_frame.Released

In [ ]:
songs_frame['Released']

We can use the **describe()** method to compute the set of summary statistics for the DataFrame:

#### Q1) Find the name of the column  named "Length" from "songs_frame"

 <div align="right">
<a href="#1" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="1" class="collapse">
```
songs_frame['Length']
```
</div>

In [ ]:
songs_frame.describe()

The output shows that this data frame has 5 observations, for the second column, called **Released**.

We can determine the type of a column of a data frame.

In [ ]:
songs_frame.dtypes

 You can select the rows by using “slicing”. Let's say you would like to select the first three rows.


<a ><img src = https://ibm.box.com/shared/static/8b5lb73hemmyenw261ac2nms7xhitwrz.png width = 700, align = "center"></a>
  <h4 align=center> Figure 4: An example of a DataFrame with Row 0,1,2 colored in yellow.

  </h4>

In [ ]:
songs_frame[:2]

 Lets say we would like to create a new dataframe "New_songs_frame" that consists of rows  1,2,3

 <a ><img src = https://ibm.box.com/shared/static/fvdiqz4tyfngvcz95wz16koif2b71848.png width = 700, align = "center"></a>
  <h4 align=center> Figure 5: An example of a DataFrame with Row 1,2,3 colored in yellow.

  </h4>

The "New_songs_frame" can be determined as follows:

In [ ]:
New_songs_frame=songs_frame[1:4]
New_songs_frame

The **_head()_** function is very useful when you have a large table and you need to take a peek at the first elements. This function returns the first 6 values of a data frame (or event a list).Now let us take a look at the first 3 elements of the data fame.

In [ ]:
songs_frame.head(n=3)

##### Q2)Create a new  dataframe  “songs_frame_Question” that consists of the last two rows of the dataframe “songs_frame”.

<div align="right">
<a href="#2" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>

</div>
<div id="2" class="collapse">
```
songs_frame_Question=songs_frame[3:]
songs_frame_Question
```
</div>

Similar to the previous function, **_tail()_** returns the last 6 values of a data frame or list.Now let us take a look at the last 2 elements of the data frame.

In [ ]:
songs_frame.tail(n=2)

Now let's try to add a new column 'Soundtrack' to our data frame.

In [ ]:
songs_frame['Soundtrack'] = songs_frame.Album == 'The Bodyguard'
songs_frame

A new column was included into our data frame with just one line of code.

We don't need this album anymore, let's delete it. Here we are deleting row 3 that was a "soundtrack"

In [ ]:
del songs_frame['Soundtrack']
songs_frame

That's it! You learned a lot about data frames and how easy it is to work with them.

---

### About the Authors:  
This notebook was updated by  [Joseph Santarcangelo]( https://www.linkedin.com/in/joseph-s-50398b136/).


Hi! It's  [Agatha Colangelo](https://www.linkedin.com/in/agathacolangelo) and [Hima Vasudevan](https://www.linkedin.com/in/himavasudevan7920) and [Thiago Felipe Correa Borges](https://www.linkedin.com/in/thiago-felipe-corr%C3%AAa-borges-a932bb114?trk=nav_responsive_tab_profile), the authors of this notebook. We hope you found Python easy to learn! There's lots more to learn about Python but you're well on your way. Feel free to connect with us if you have any questions.

<hr>
Copyright &copy; 2016 [Big Data University](https://bigdatauniversity.com/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).​