 <a href="https://www.bigdatauniversity.com"><img src = "https://ibm.box.com/shared/static/kpwal4mklabkeipypfo47rrm8xq0lslk.jpg" width = 300, align = "center"></a>

<h1 align=center><font size = 5>LISTS AND TUPLES IN PYTHON</font></h1>


## Table of Contents


<div class="alert alert-block alert-info" style="margin-top: 20px">
<li><a href="#ref0">About the Dataset</a></li>
<li><a href="#ref1">Lists</a></li>
<li><a href="#ref2">Tuples</a></li>
<br>
<p></p>
Estimated Time Needed: <strong>15 min</strong>
</div>

<hr>

<a id="ref0"></a>
<center><h2>About the Dataset</h2></center>

Imagine you got many movie recommendations from your friends and compiled all of the recomendations in a table, with specific info about each movie.

The table has one row for each movie and several columns

- **artist** - Name of the artist
- **album** - Name of the album
- **released_year** - Year the album was released
- **length_min_sec** - Length of the album (hours,minutes,seconds)
- **genre** - Genre of the album
- **music_recording_sales_millions** - Music recording sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **claimed_sales_millions** - Album's claimed sales (millions in USD) on [SONG://DATABASE](http://www.song-database.com/)
- **date_released** - Date on which the album was released
- **soundtrack** - Indicates if the album is the movie soundtrack (Y) or (N)
- **rating_of_friends** - Indicates the rating from your friends from 1 to 10
<br>
<br>

The dataset can be seen below:

<font size="1">
<table font-size:xx-small style="width:25%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<hr>

<a id="ref1"></a>
<center><h2>Lists</h2></center>

First of all, we're gonna take a look at lists in Python. A list is a sequenced collection of different objects of Python, such as integers, strings, and other lists as well. The address of each element within a list is called an index. An index is used to access and refer to elements within a list.

<a ><img src = "https://ibm.box.com/shared/static/eln445fv5nzv3wlm4u8dnfhbrcrv0hff.png" width = 1000, align = "center"></a>
  <h4 align=center> Representation of a list  



  </h4>

 To create a list just type the list within square brackets **[ ]** with your content inside the parenthesis and separated by commas. Let’s try it!

In [1]:
album1_info = ["Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0]
              
album1_info

['Michael Jackson',
 'Thriller',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

You can also create a list from a tuple using the **list** type function as shown below.

In [6]:
album_tuple = ("Michael Jackson", "Thriller", 1982, "00:42:19", \
              "Pop, Rock, R&B", 46.0, 65, "30-Nov-82", None, 10.0) 
album1_list = list(album_tuple)

In the code above, the variable album_tuple contains a list of 10 objects, which are a string, a numeric value, and a vector of strings. Easy, eh? However, you must remember that a list can be changed but a tuple cannot. Using the **list** function above, a brand new list is created. Any changes made to  **`album1_list`**  above will not cause the values of  **`album_tuple`**  to change.  Now let's print the content of the list. We just need to call its name.

In [5]:
album1_list

['Michael Jackson',
 'Thriller',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

A list has a sequence and each element of a list has a position in that sequence, which starts from 0.

#### 1) Create a tuple A_tuple, with the following elements 1, “hello”, [1,2,3 ] and True.

In [8]:
A_tuple = (1, "hello", [1,2,3], True)
A_tuple

(1, 'hello', [1, 2, 3], True)

 <div align="right">
<a href="#q1" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="q1" class="collapse">
```
A_tuple=(1, 'hello', [1,2,3 ] , True)
A_tuple

```
</div>

### Accessing items in a list
It is possible to retrieve only a part of a list using the **single square  bracket**  operator **[ ]**. This operator can be also used to get a single element in a specific position. Take a look at the next example:

The index number 2 returns the third element of a list, if that element exists, because indexing starts at 0:

In [9]:
album1_list[2]

1982

 This is shown in figure 1:

<a ><img src = "https://ibm.box.com/shared/static/ud1hra6uiqel76ih185ao15g1tlf7cgx.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 1: Element corresponding to index number 2


  </h4>

Or you can select a part or interval of elements of a list. In our next example we are retrieving the 1st and  2nd elements,this is somtime called **slicing**:

In [10]:
album1_list[0:2]

['Michael Jackson', 'Thriller']

 <a ><img src = "https://ibm.box.com/shared/static/b8311mapjlkyi5w6hl6s3evi4sdlep0l.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 2: Selecting index 0 through 1 

  </h4>

It's also possible to find the index of an element using the index method. For example you can find the index of "Thriller" as follows:

In [11]:
album1_list.index("Thriller")

1

 <a ><img src = "https://ibm.box.com/shared/static/ls9rtp24l60ryuwh1o7akdk2588kwv7e.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 3: Obtain index corresponding to element “Thriller”


  </h4>

#### 2) Find the value stored at index 4 of album1_list

In [12]:
album1_list[4]

'Pop, Rock, R&B'

 <div align="right">
<a href="#q2" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="q2" class="collapse">
```
album1_list[4]


```
</div>

#### 3) Retrieve the elements stored at index 3,4, and 5 of album1_list

In [13]:
album1_list[3:6]

['00:42:19', 'Pop, Rock, R&B', 46.0]

 <div align="right">
<a href="#q3" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="q3" class="collapse">
```
album1_list[3:5]

```

Lists are mutable, so you can remove items from them. For example, if you want to remove the item `'thriller`', use the following line of code: `“album1_list.remove('Thriller')”`

 Lets compare the list before and after:

In [14]:
album1_list

['Michael Jackson',
 'Thriller',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

In [15]:
album1_list.remove('Thriller')
album1_list

['Michael Jackson',
 1982,
 '00:42:19',
 'Pop, Rock, R&B',
 46.0,
 65,
 '30-Nov-82',
 None,
 10.0]

### Concatenating lists

Concatenation is the process of putting things together, in sequence. Just use the ** + ** operator, as shown in Figure 4.

 <a ><img src = "https://ibm.box.com/shared/static/hekpo7kngf2xlh1o3pchetn4eno3mgwa.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 4: Concatenation  of two strings 



  </h4>

Take a look at the next example code:

In [16]:
album_titles1 = ["Thriller", "Back in Black"]

album_titles2 = ["The Dark Side of the Moon", "The Bodyguard"]

In [17]:

album_titles1 + album_titles2

['Thriller', 'Back in Black', 'The Dark Side of the Moon', 'The Bodyguard']

#### 4) Concatenate the following lists A=[1,'a'] abd B=[2,1,'d']

In [18]:
A = [1, 'a']
B = [2,1,'d']
A+B

[1, 'a', 2, 1, 'd']

 <div align="right">
<a href="#q4" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="q4" class="collapse">
```
A=[1,'a'] 
B=[2,1,'d']
A+B
```

<a id="ref2"></a>
<center><h2>Tuples</h2></center>

**Tuples** are similar to lists, but the data cannot be changed. Tuples elements are also accessed using indexing. It would be good to store the music genres in tuples because they do not change very often.

Here are some examples of tuples in Python:

In [19]:
genres_tuple = ("pop", "rock", "soul", "hard rock", "soft rock", \
                "R&B", "progressive rock", "disco") 
genres_tuple

('pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco')

To get the length of a tuple, that is, the number of elements, use the length function, like this:

In [20]:
len(genres_tuple)

8

 we can visualize this in figure 5

 <a ><img src = "https://ibm.box.com/shared/static/n4969qbta8hhsycs2dc4n8jqbf062wdw.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 5:Number of elements in the tuple “genres_tuple”




  </h4>

You can access a specific element , the value of index 3 is “hard rock ” as illustrated in figure 6

 <a ><img src = "https://ibm.box.com/shared/static/s6r8v2uy6wifmaqv53w6adabqci47zme.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 6: accessing the element at index 3 of “genres_tuple”

  </h4>

 the code is given by:

In [21]:
genres_tuple[3]

'hard rock'

Like lists You can get multiple elements by slicing  Index 3:6:

In [22]:
genres_tuple[3:6]

('hard rock', 'soft rock', 'R&B')

 This corresponds to elements in index’s 3 to 5

<a ><img src = "https://ibm.box.com/shared/static/nqo84vydw6eixdex0trybuvactcw7ffi.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 7: Slicing the tuple “genres_tuple”

  </h4>

#### 5) Find the first two elements of the tuple "genres_tuple"

In [23]:
genres_tuple[:2]

('pop', 'rock')

 <div align="right">
<a href="#q5" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="q5" class="collapse">
```
genres_tuple[0:2]

```

You can get the index of a tuple by coding the value using the index function, like this:

In [24]:
genres_tuple.index("R&B")

5

Finding the index corresponding to the element “R&B”  :

<a ><img src = "https://ibm.box.com/shared/static/nqo84vydw6eixdex0trybuvactcw7ffi.png" width = 1100, align = "center"></a>
  <h4 align=center> Figure 7: Finding the index corresponding to the element “R&B” : 

  </h4>

Note that you cannot sort tuples. If you try, you will get an error.

#### 6) Find the first index of 'disco'

In [25]:
genres_tuple.index("disco")

7

 <div align="right">
<a href="#q6" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="q6" class="collapse">
```
genres_tuple.index("disco") 

```

You can create a list from a tuple like this:

In [26]:
genres_list = list(genres_tuple) 
genres_list

['pop',
 'rock',
 'soul',
 'hard rock',
 'soft rock',
 'R&B',
 'progressive rock',
 'disco']

Now you can sort the list:

In [27]:
genres_list.sort() 
genres_list

['R&B',
 'disco',
 'hard rock',
 'pop',
 'progressive rock',
 'rock',
 'soft rock',
 'soul']

You can't directly sort a tuple, because that would be modifying it, and tuples are immutable. However, the above method, as well as the **`sorted`** function below, can be used to create a sorted list from a given a tuple. For example:

<hr>

#### 7) Generate a sorted List from the Tuple C_tuple=(-5,1,-3)

In [34]:
C_tuple = (-5,1,-3)
C_list = sorted(C_tuple)
C_list

[-5, -3, 1]

 <div align="right">
<a href="#q7" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="q7" class="collapse">
```
C_tuple = (-5,1,-3)
C_list = sorted(C_tuple)
C_list

```

#### 8  Why wont the command `genres_tuple.remove('pop')` work?

<div align="right">
<a href="#q9" class="btn btn-default" data-toggle="collapse">Click here for the solution</a>
</div>
<div id="q9" class="collapse">
```
The command wont work because tuples are immutable 


```

### About the Authors:  

This notebook was updated by  [Joseph Santarcangelo]( https://www.linkedin.com/in/joseph-s-50398b136/).



Hi! It's  [Agatha Colangelo](https://www.linkedin.com/in/agathacolangelo) and [Hima Vasudevan](https://www.linkedin.com/in/himavasudevan7920) and [Thiago Felipe Correa Borges](https://www.linkedin.com/in/thiago-felipe-corr%C3%AAa-borges-a932bb114?trk=nav_responsive_tab_profile), the authors of this notebook. We hope you found Python lists and tuples easy to learn! There's lots more to learn about Python but you're well on your way. Feel free to connect with us if you have any questions.

<hr>
Copyright &copy; 2016 [Big Data University](https://bigdatauniversity.com/?utm_source=bducopyrightlink&utm_medium=dswb&utm_campaign=bdu). This notebook and its source code are released under the terms of the [MIT License](https://bigdatauniversity.com/mit-license/).​